body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige;
}
header, footer {
    background-color: #705211;
    color: white;
    text-align: center;
    padding: 1em 0;
}
main {
    padding: 20px;
    text-align: center;
}
